@model Cinema.Models.ViewModels.BookNowViewModel

@{
    ViewData["Title"] = "BookNow";
}

<h1>BookNow</h1>


<a asp-action="YourOrders" asp-controller="Home" asp-route-id="@Model.UserId">Your Order Details</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookNow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <h5>
                    <label asp-for="Movie_Name" class="control-label"></label> </h5>
                        <h6> @Model.Movie_Name</h6>
                        <span asp-validation-for="Movie_Name" class="text-danger"></span>
</div>
            <div class="form-group">
                <h5>
                    <label asp-for="Hall" class="control-label"></label> </h5>
                        <h6> @Model.Hall</h6>
                        <span asp-validation-for="Hall" class="text-danger"></span>
</div>
            <div class="form-group">
                <h5>
                    <label asp-for="DateAndTimeS" class="control-label"></label> </h5>
                        <h6> @Model.DateAndTimeS</h6>
                        <span asp-validation-for="DateAndTimeS" class="text-danger"></span>
</div>
            <div class="form-group">
                <h5>
                    <label asp-for="DateAndTimeE" class="control-label"></label> </h5>
                        <h6> @Model.DateAndTimeE</h6>
                        <span asp-validation-for="DateAndTimeE" class="text-danger"></span>
</div>
            <div class="form-group">
                <h5>
                    <label asp-for="seatno" class="control-label"></label> </h5>
                <select name="seatno">
                    @for (int i=1; i<=Model.Seat; i++)
                    {
                        
                        
                        <option>@i</option>
                       
                        }

                </select>
                        
</div>
            <div class="form-group">
                <input type="submit" value="Add To Cart" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @TempData["sucess"]<br />

    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
