
@model IEnumerable<Cinema.Models.ShowTime>


@{
    ViewData["Title"] = "Details";
}

<h1>Shows Details</h1>
<div>

    @foreach (var item in Model.Where(m => m.Id == ViewBag.id))
    {
    <p>
        <td>
            <img src="@item.MoivePicture" align="left" width="300" height="300" asp-append-version="true" />
        </td>
        <br />
        <div>
            <b>
                Movie Name :
            </b>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Name)
            </td>


            <br />
            <b>
                Movie Desc :
            </b>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Details)
            </td>

            <br />
            <b>
                Movie Category :
            </b>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>

            <br />
            <b>
                Age :
            </b>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>

            <br />
            <b> Rating : </b>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </div>
</p>
        <br /><br />
        break;
    }

    <br /><br /><br /><br /><br />
    <h3>List of shows </h3>

</div>
<p></p>


<tbody>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Hall)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAndTimeS)
                </th>

                <th>

                    @Html.DisplayNameFor(model => model.DateAndTimeE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Where(m => m.Id == ViewBag.id))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hall)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAndTimeS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAndTimeE)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Seat)
                    </td>
                    <td id="cost">
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="BookNow" asp-route-id="@item.ShowId">Booking  Now</a>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</tbody>


<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
