@model Cinema.Models.MovieDetails


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>MovieDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie_Name)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie_Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie_Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoivePicture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoivePicture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
      

    }
    </table>
<tbody>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
