
@model IEnumerable<Cinema.Models.ShowTime>


@{
    ViewData["Title"] = "Details";
}

<h1>Shows Details</h1>
<div>

    @foreach (var item in Model.Where(m => m.Id == ViewBag.id))
    {
        <td>
            <img src="@item.MoivePicture" width="300" height="300" asp-append-version="true" />
        </td>
        <p>
            Movie Name :
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Name)
            </td>
        </p>

        <p>
            Movie Desc :
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Details)
            </td>
        </p>
        <p>
            Movie Category :
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
        </p>
        <p>
            Age :
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
        </p>
        <p>
            Rating :
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </p>
        <br /><br />
        break;
    }

    <h3>List of shows </h3>

</div>
<tbody>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Hall)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAndTimeS)
                </th>

                <th>

                    @Html.DisplayNameFor(model => model.DateAndTimeE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seat)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Prices)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (var item in Model.Where(m => m.Id == ViewBag.id))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hall)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAndTimeS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAndTimeE)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Seat)
                        </td>

                        <td>
                            <a asp-controller="Home" asp-action="BookNow" asp-route-id="@item.ShowId">Booking  Now</a>

                        </td>
                    </tr>
                }
            
        </tbody>
    </table>
</tbody>



<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
